table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table td,
table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #f8f8f8;
}

table tr:hover {
	background-color: #f8f8f8;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #33485c;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}

td,
table th {
	border: 1px solid #f8f8f8;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #f8f8f8;
}

table tr:hover {
	background-color: #f8f8f8;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #33485c;
	color: white;
	}

.pointer {
	cursor: pointer;
	font-weight: bold;
}

.grid-filter {
	margin: 1%;
	float: right;
	width: 40%;
}

.grid-filter input {
	padding: 10px;
	width: 80%;
}

.btn {
	color: #fff;
	background: #4CAF50;
	border: 1px solid #4CAF50;
	padding: 10px 15px;
	cursor: pointer;
}

.headerSortDown:after,
.headerSortUp:after {
	content: ' ';
	position: relative;
	float: right;
	top: 0px;
	border: 5px solid transparent;
}

.headerSortDown:after {
	top: 10px;
	border-top-color: silver;
}

.headerSortUp:after {
	bottom: 15px;
	border-bottom-color: silver;
}