@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900");

body {
    background: #e4e4e4;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.container {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.column {    
    background: #fff;
    width: 80%;
}